.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 30px;
}

.main-header button {
  min-width: 100px;
  height: 30px;
}

dialog {
  width: min(500px, 100%);
  display: flex;
  flex-direction: column;
  margin: auto;
}

dialog::backdrop {
  background-color: #00000050;
}

@media (max-width: 400px) or (orientation: portrait) {
  :root {
    font-size: 10px;
  }
}
