#layout-one {
  min-height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 70mm 1fr;
  /* The default second row is slightly shorter than the actual A4 height, 247mm, because of a minor but annoying bug
  I haven't been able to fix yet, where it would add an extra blank page to the output pdf. */
  grid-template-rows: 50mm minmax(246.5mm, auto);
}

#layout-one > header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  grid-column: 1 / -1;
  box-sizing: border-box;
  padding: 0 15pt;
}

#layout-one > header > img {
  height: 90%;
}

#layout-one > header > #name-and-role-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#layout-one > header .header-name {
  font-size: 18pt;
}

#layout-one > header .header-role {
  font-size: 16pt;
}

#layout-one > aside {
  background-color: lightgrey;
  grid-column: 1;
  padding: 10pt;
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

#layout-one > aside p {
  margin-top: 3.75pt;
  display: flex;
  gap: 3pt;
}

#layout-one > main {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 15pt;
  padding: 10pt;
}

#layout-one > aside h3,
#layout-one > main h3 {
  font-size: 14pt;
}

#layout-one > aside p,
#layout-one > main p {
  font-size: 12pt;
}

#layout-one .bold {
  font-weight: 600;
}

#layout-one > main > section[id*="wrapper"] {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}

#layout-one > main > section[id*="wrapper"] > section {
  display: flex;
  flex-direction: column;
  gap: 2pt;
}
