.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 30px;
}

.main-header button {
  min-width: 100px;
  height: 30px;
}
