.card-form-header {
  display: flex;
}

.add-card-entry-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
