#forms-container {
  flex: 1;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  padding-bottom: 100px;
}

#forms-container > * {
  display: flex;
  flex-direction: column;
}

#load-example-button,
label[for="first-name"],
input#first-name,
label[for="role"],
input#role,
label[for="email"],
input#email {
  grid-column: 1;
}

#reset-form-button,
label[for="last-name"],
input#last-name,
label[for="phone"],
input#phone {
  grid-column: 2;
}

#photo-selector-wrapper,
label[for="description"],
textarea#description,
.location-selector,
#online-presence-inputs,
.tag-selector,
.card-form {
  grid-column: 1/-1;
}

input.invalid {
  border: solid 2px red;
}
