label[for="user-photo"] {
  width: fit-content;
}

#photo-selector {
  background-color: lightgrey;
  border: 2px dashed black;
  width: 200px;
  aspect-ratio: 2/2;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#photo-selector.invalid {
  background-color: pink;
  border-color: red;
}

#photo-selector > svg {
  font-size: 40px;
}

#photo-selector > h3 {
  margin-block: 0;
  margin-inline: 0;
  font-size: 18px;
}

#photo-selector > img {
  width: 100%;
}

input#user-photo {
  display: none;
}
