#preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}

#preview-container .preview {
  aspect-ratio: 1/1.41;
  height: 90%;
}

#preview-container .description {
  white-space: break-spaces;
}
