.card-form-header {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
  margin-bottom: 5px;
}

.add-card-entry-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0 40px;
}

.card-container > * {
  background-color: ghostwhite;
  width: 200px;
  flex-shrink: 0;
  min-height: 100px;
  box-sizing: border-box;
  padding: 8px 8px 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-buttons-wrapper {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-bottom: 0px;
}

.card-form .add-entry-form,
.card-form .edit-entry-form {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;
}

.card-form .add-entry-form > *,
.card-form .edit-entry-form > * {
  display: flex;
  flex-direction: column;
}

.card-form .add-entry-form > *.checkbox,
.card-form .edit-entry-form > *.checkbox {
  flex-direction: row;
  align-items: center;
}

.card-form .add-entry-form > *.checkbox input,
.card-form .edit-entry-form > *.checkbox input {
  width: 15px;
}

.card-form .add-entry-form textarea,
.card-form .edit-entry-form textarea {
  resize: vertical;
  height: 100px;
}

.card-form input[type="month"] {
  width: fit-content;
}

.card-form .card-form-buttons-wrapper,
.card-form .edit-form-buttons-wrapper {
  flex-direction: row;
  align-self: flex-end;
  gap: 5px;
}
