label[for="user-photo"] {
  width: fit-content;
}

#photo-selector-wrapper {
  position: relative;
}

#photo-selector {
  background-color: lightgrey;
  border: 2px dashed black;
  width: 250px;
  aspect-ratio: 12/9;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}

#photo-selector.invalid {
  background-color: pink;
  border-color: red;
}

#photo-selector > #camera-icon {
  font-size: 2rem;
}

#photo-selector > h3 {
  margin-block: 0;
  margin-inline: 0;
  font-size: 1.2rem;
}

#photo-selector > img {
  width: 100%;
}

input#user-photo {
  display: none;
}

#remove-photo-button {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 11px);
  left: 255px;
}
